body {
  margin: 0px;
  padding: 0px;
  font-family:Gill Sans MT;
  
}

code {
  font-family:Gill Sans MT;
}

h3{
  
  font-size:25px;
}

h5{
  font-size:15px;
}



#central{
  margin-left: 20px;
  margin-top: 30px;
  height: 70px;
  width:70px
}

#cont1{
  width: "100%";
  
  
  
}



#card1{
  margin-top: 300px;
}


/* .b{
  background-color: antiquewhite;
} */

/* #cardc{
  margin: auto;
  margin-left: "133px";
} */

/* #cities{
  width: 1350px;
  margin-left: 100px;
} */

.cont2{
  position: absolute;
  top: 8px;
  /* width: 200px; */
  background-color: rgb(255, 255, 255);
  margin-top: 275px;
  margin-left: 350px;
  width: 800px;
  height: 140px;
  /* border: 1px solid grey; */
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.sidefilter{
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  border: 1px solid grey;
  
}


